@charset "UTF-8";

@mixin font-size($size: 24){
    font-size: $size + px;
    font-size: ($size / 10) * 1rem;
}

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif, "游明朝体", "游ゴシック体",'Alice', serif;

html{
    font-size: 62.5%;
}

body{
    font-family: $ja-font;
    
}

header{
    #header_in{
        
        .pc_logo img{
            margin-left: 50px;
        }
        
        .sp_logo img{
            width: 35%;
            margin-left: 113px;
        }
        
        .pc_navi_li{
            width: 65%;
            margin-top: -176px;
            margin-left: 620px;
            background-color: #000;
            padding-bottom: 50px;
            padding-left: 65px;
            margin-bottom: 0;
        }
        
        @media (max-width: 549px){
            
            .pc_logo, .pc_navi_li{
                display: none;
            }
        }
        
        .pc_navi_li li{
            display: inline-block;
            margin-right: 32px;
            margin-top: 62px;
            list-style: none;
        }
        
        .pc_navi_li a{
            font-family: "游明朝体";
            text-decoration: none;
            color: #fff
            ;
        }
        
        a:hover {
            text-decoration: underline;
            color: #d1d1d1;
        }
        
       @media (min-width: 550px){
           
            .sp_logo, .sp_navi, .sp_reserved{
               display: none;
            }
        }
        
        .sp_reserved{
            float: right;
            margin-top: 10px;
            margin-right: 20px;
            @include font-size(19);
        }
        
        .header_remote_text a{
            text-decoration: none;
        }
        
        .sp_navi #sp_navi_btn{
            width: 50px;
            height: 50px;
            padding-top: 20px;
            padding-left: 20px;
            float: left;
            cursor: pointer;
            
        }
        
        .sp_navi_li{
            width: 100%;
        }
        
        .sp_navi_li li{
            padding: 0 70px;
            list-style: none;
        }
        
        .sp_navi_li a{
            font-family: "游明朝体";
            text-decoration: none;
            
        }
    }
}

#about-area{
    
    @media (max-width: 549px){
        
        .owl-carousel img{
            height: 100vmin;
        }
    }
    
    #description .description-title{
        @include font-size(22);
        text-align: center;
        font-family: "游ゴシック体";
        margin-top: 35px;
    }
    
    @media (max-width: 549px){
        
        .description-title{
            margin-left: 66px;
            margin-right: 66px;
        }
    }
    
    .description-content{
        text-align: center;
        font-family: "游ゴシック体";
    }
    
    @media (max-width: 549px){
        
        .description-content{
            text-align: left;
            margin: 0 35px;
        }
    }
    
    #food-commitment .title{
        @include font-size(30);
        text-align: center;
        font-family: "游明朝体";
        margin-top: 89px;
        margin-bottom: 45px;
    }
    
    .food-commitment-box, .food-commitment-box2{
        display: flex;
    }
    

    @media (max-width: 549px){
        
        .food-commitment-box, .food-commitment-box2{
            justify-content: space-between;
            flex-direction: column;
        }
        
        .img-description2{
            order: 1;
        }
    }
    
    .img-description{
        padding-left: 40px;
        padding-right: 30px;
    }
    
    .img-description2{
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .img-description3{
        padding-left: 40px;
        padding-right: 38px;
    }
    
    .img-description, .img-description2, .img-description3{
        padding-top: 100px;
        background-color: #000;
        color: #fff;
    }
    
    @media (min-width: 550px){
        
        .img-description, .img-description2, .img-description3{
            width: 43%;
        } 
    }
    
    @media (max-width: 549px){
        
        .img-description, .img-description2, .img-description3{
            padding: 30px 8% 40px;
        }
    }
    
    .commitment-img img{
        margin-bottom: -0.7rem;
        height: auto;
    }
    
    .ex_ttl{
        @include font-size(23);
        font-weight: bold;
        font-family: "游明朝体";
        margin-bottom: 30px;
        letter-spacing: 2px;
    }
    
    .top_txt{
        font-family: "游ゴシック体";
    }
    
    .top-en_txt{
        font-family: 'Alice', serif;
        color: #999;
    }
}

#news-area{
    
    .news-title{
        @include font-size(30);
        text-align: center;
        font-family: "游明朝体";
        margin-top: 89px;
        margin-bottom: 55px;
        letter-spacing: 0.2rem;
    }
    
    .news-box1, .news-box2{
        padding-bottom: 30px;
    }
    
    .news-box1{
        background-color: #000;
        color: #fff;
    }
    
    .news-box2{
        background-color: #ededed;
    }
    
    @media (min-width: 550px){
        
        .news-box1{
            margin-bottom: 150px;
            margin-left: 249px;
        }
        
        .news-box2{
            margin-right: 249px;
        }
    }
    
    @media (max-width: 549px){
        
        .news-box1, .news-box2{
            margin-top: 50px;
        }
    }
    
    @media (min-width: 550px){
        
        .news-img1 img{
            width: 40%;
            padding-left: 250px;
            padding-top: 50px;
        }
    
        .news-img2 img{
            width: 40%;
            padding-left: 498px;
            padding-top: 50px;
        }
    }

    
    @media (max-width: 549px){
        
        .news-img1 img, .news-img2 img{
            width: 100%;
            padding: 50px 15px;
            box-sizing: border-box;
        }
    }
    
    .date{
        @include font-size(16);
    }
    
    .news{
        @include font-size(20);
         margin-top: -20px;
    }
    
    .news-text1{
        padding-left: 250px;
        padding-right: 460px;
    }
    
    .news-text2{
        padding-left: 498px;
        padding-right: 202px;
    }
    
    @media (max-width: 549px){
        
        .news-text1, .news-text2{
            padding: 0 15px;
        }
    }
    
    .details-button{
        text-align: center;
        margin-right: 206px;
    }
    
    .news-box2 .details-button{
        color: #747a80;
        margin-left: 500px;
    }
    
    .more-button{
        display: flex;
        flex-wrap: wrap;
        color: #747a80;
        margin-left: 600px;
        margin-top: 100px;
    }
    
    @media (max-width: 549px){
        
        .details-button{
            margin-right: 0;
        }
        
        .news-box2 .details-button{
            margin-left: 8px;
        }
        
        .more-button{
            margin-left: 39px;
        }
    }
    
    .now-page{
        background-color: #d1d1d1;
        margin-right: 10px;
        padding: 1.5rem;
    }
    
    .another-page{
        background-color: #ededed;
        margin-right: 10px;
        padding: 1.5rem;
    }
}

#food-area{
    
    @media (max-width: 549px){
        
        .pc_food-img{
            display: none;
        }
    }
    
    @media (min-width: 550px){
        
        .sp_food-img{
            display: none;
        }
    }
    
    .food-title{
        @include font-size(70);
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        margin-top: -430px;
        margin-left: 420px;
        color: #fff;
        font-family: "游明朝体";
        text-shadow: 5px 0 10px #000;
        letter-spacing: 0.5rem;
    }
    
    .reserved-button{
        width: 100%;
        max-width: 320px;
        height: 40px;
        background: #39424B;
        text-align: center;
        color: #fff;
        font-size: 16px;
        line-height: 40px;
        margin-left: 310px;
        margin-top: 130px;
    }
    
    @media (max-width: 549px){
        
        .food-title{
            @include font-size(38);
            margin-left: 134px;
            margin-top: -242px;
        }
        
        .reserved-button{
            margin-top: 44px;
            margin-left: 5px;
        }
    }
    
    #description .description-title{
        @include font-size(22);
        text-align: center;
        font-family: "游ゴシック体";
        margin-top: 35px;
    }
    
    .description-content{
        text-align: center;
        font-family: "游ゴシック体";
    }
    
    .title{
        @include font-size(30);
        text-align: center;
        font-family: "游明朝体";
        margin-top: 100px;
        margin-bottom: 45px;
        letter-spacing: 0.2rem;
    }
    
    #commitment, #select{
        display: flex;
    }
    
    @media (max-width: 549px){
        
        #commitment, #select{
            flex-wrap: wrap;
        }
        
    }
     
    #commitment{
        margin-left: 250px;
        margin-bottom: 130px;
        background-color: #000;
        padding-right: 40px;
        padding-left: 10px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    #select{
        background-color: #ededed;
        margin-right: 250px;
        padding-left: 260px;
        padding-top: 80px;
        padding-bottom: 50px;
        padding-right: 2px;
    }
     
    @media (max-width: 549px){
        
        #commitment{
            margin-left: 0;
            padding-top: 50px;
            padding-right: 0;
            padding-bottom: 30px;
        }
        
        #select{
            margin-right: 0;
            padding-top: 50px;
            padding-left: 10px;
            padding-bottom: 30px;
        }
    }
     
    .menu-box{
        margin-right: 10px;
    }
    
    @media (max-width: 549px){
        
        .menu-box{
            width: 47%;
        }
    }
     
    .menu-img img{
        height: auto;
    }
     
    .name{
        text-align: center;
        font-family: "游明朝体";
        @include font-size(16);
        margin-top: 16px;
    }
    
    #commitment .name{
        color: #fff;
        margin-bottom: 2.5rem;
    }
    
}

#staff-area{
    
    @media (min-width: 550px){
        
        .sp_staff-img{
            display: none;
        }
    }
    
    @media (max-width: 549px){
        
        .pc_staff-img{
            display: none;
        }
    }
    
    .staff-title{
        @include font-size(60);
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        margin-top: -420px;
        margin-left: 420px;
        color: #fff;
        font-family: "游明朝体";
        text-shadow: 5px 0 10px #000;
    }
    
    @media (max-width: 549px){
        
        .staff-title{
            @include font-size(38);
            margin-left: 135px;
            margin-top: -252px;
        }
    }
    
    .staff-box1, .staff-box2, .staff-box3{
        padding-top: 50px;
        padding-bottom: 55px;
    }
    
    @media (min-width: 550px){
        
        .staff-box1, .staff-box2, .staff-box3{
            display: flex;
        }
    }
    
    .staff-box1{
        margin-top: 150px;
        margin-right: 250px;
        background-color: #000;
        color: #fff;
    }
    
    .staff-box2{
        margin-top: 100px;
        margin-left: 200px;
        background-color: #ededed;
    }
    
    .staff-box3{
        margin-top: 100px;
        margin-right: 250px;
        background-color: #000;
        color: #fff;
    }
    
    @media (max-width: 549px){
        
        .staff-box1, .staff-box3{
            margin-right: 0;
            padding-left: 15px;
            padding-right: 15px;
        }
        
        .staff-box2{
            margin-left: 0;
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    
    .staff-img img{
        height: auto;
        margin-top: 20px;
    }
    
    .staff-box2 .staff-img img{
        margin-left: 10px;
    }
    
    .staff-box2 .text{
        margin-left: 50px;
        margin-right: 260px;
        width: 30%;
    }
    
    .staff-box1 .text, .staff-box3 .text{
        margin-right: 50px;
        margin-left: 200px;
        width: 30%;
    }
    
    @media (max-width: 549px){
        
        .staff-box1 .text, .staff-box2 .text, .staff-box3 .text{
            margin: 0;
            width: 100%;
        }
        
        .staff-box1, .staff-box3{
            display: flex;
            flex-direction: column;
        }
        
        .staff-box1 .text, .staff-box3 .text{
            order: 1;
        }
        
        .staff-box2 .staff-img img{
            margin-left: 0;
        }
    }
    
    .question{
        font-weight: bold;
        @include font-size(16);
    }
}

#shopinfo-area{
    
    @media (min-width: 550px){
        
        .sp_shopinfo-img{
            display: none;
        }
    }
    
    @media (max-width: 549px){
        
        .pc_shopinfo-img{
            display: none;
        }
    }
    
    .shopinfo-title{
        @include font-size(70);
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        margin-top: -420px;
        margin-left: 420px;
        color: #fff;
        font-family: "游明朝体";
        text-shadow: 5px 0 10px #000;
        letter-spacing: 0.5rem;
    }
    
    @media (max-width: 549px){
        
        .shopinfo-title{
            @include font-size(38);
            margin-left: 135px;
            margin-top: -221px;
        }
    }
    
    #shopinfo-body{
        background-color: #000;
        margin-top: 150px;
        margin-bottom: 250px;
        margin-left: 130px;
        padding-left: 10px;
    }
    
    @media (max-width: 549px){
        
        #shopinfo-body{
            margin-top: 50px;
            margin-left: 0;
            padding-left: 0;
            padding-bottom: 100px;
            margin-bottom: 0;
            width: 87%;
        }
    }
    
    #shop-img{
        margin-top: 100px;
    }
    
    @media (max-width: 549px){
        
        #shop-img{
            margin-left: 10px;
            width: 112%;
        }
    }
    
    .shopinfo-box{
        display: flex;
    }
    
    .shopinfo-img, .shopinfo2-img{
        margin-right: 10px;
    }
    
    .shopinfo-img img, .shopinfo2-img{
        height: auto;
       
    }
    
    @media (max-width: 549px){
        
        .shopinfo2-img{
            display: none;
        }
    }
    
    #tbl{
        display: flex;
        margin-top: 50px;
    }
    
    #tbl table{
        border: 1px solid #dfdfdf;
        border-collapse: collapse;
        width: 40%;
    }
    
    table th{
        padding-left: 10px;
        width: 90px;
        font-weight: bold;
        background: #efefef;
    }
    
    table td{
        padding: 11px 18px;
        background: #fff;
    }
    
    .shop-name{
        margin-top: 120px;
        margin-left: 330px;
        font-family: "游明朝体";
        @include font-size(35);
        letter-spacing: 0.4rem;
        color: #fff;
    }
  
    @media (max-width: 549px){
        
        #tbl{
            flex-direction: column;
            margin: 0 10px;
        }
        
        #tbl table{
            width: 116%;
            order: 1;
        }
        
        .shop-name{
            margin-left: 122px;
            margin-bottom: 50px;
            
        }
    }
    
    #googlemap-area{
        display: flex;
        margin-top: 50px;
        margin-bottom: -250px;
        
    }
    
    .access{
        margin-top: 170px;
        margin-left: 220px;
        margin-right: 220px;
        font-family: "游明朝体";
        @include font-size(35);
        letter-spacing: 0.2rem;
    }
    
    @media (max-width: 549px){
        
        #googlemap-area{
            flex-direction: column;
            margin: 0 10px;
        }
        
        .access{
            color: #fff;
            margin-right: 0;
            margin-left: 104px;
            margin-bottom: 50px;
        }
        
        #map1 {
            max-width: 116%;
            max-height: 270px;
        }
    }

}

#contact-area{
    
    #tel-reserved{
        margin-top: 100px;
        margin-left: 318px;
    } 
    
    @media (max-width: 549px){
        
        #tel-reserved{
            margin-left: 0;
        }
    }
    
    .flex{
        display: flex;
    }
    
    .tel img{
        padding-top: 5px;
    }
    
    .number{
        margin-right: 15px;
        margin-left: 5px;
        @include font-size(20);
    }
    
    .time{
        margin-top: 4px;
    }
    
    .reserved-button{
        background-color: #39424b;
        display: inline-block;
        width: 100%;
        max-width: 320px;
        height: 40px;
        text-align: center;
        color: #fff;
        line-height: 40px;
        border-radius: 3px;
        margin-top: 10px;
    }
    
    #contact .title{
        @include font-size(30);
        text-align: center;
        font-family: "游明朝体";
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    #contact{
        margin-top: 20px;
        letter-spacing: 0.05em;
    } 

    .inner_small{
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
    }
    
    form .text_01{
        margin-top: 20px;
        overflow: hidden
    }
    
    .note-required_color{
        color: #b40014;
        padding-left: 1em;
    }
    
    .reservation{
        margin: 0 -10px;
    }
    
    .reservation_col_01{
        padding: 0 10px;
    }
    
    .reservation_col_02{
        float: left;
        width: 50%;
        padding: 0 10px;
        box-sizing: border-box;
    }
    
    .cf:after{
        content: "";
        clear: both;
        display: block;
    }
    
    .form_select_bg{
        background: #ededed;
        border: 1px solid #8d8d8d;
        height: 40px;
        padding-left: 3px;
        padding-right: 20px;
        font-size: 18px;
        line-height: 40px;
    }

    .form_select_bg .form_select{
        background: none;
        width: 100%;
        border: none;
        color: #b0b1b1;
    }
    
    .form_text{
        height: 40px;
        width: 100%;
        border: 1px solid #8d8d8d;
        padding: 0 20px;
        font-size: 18px;
        background: #ededed;
        border-radius: 0;
    }
    
    textarea{
        resize: none;
    }
    
    textarea.form_text{
        height: auto;
    }
    
    .tac{
        text-align: center;
    }
    
    .form_submit{
        box-sizing: border-box;
        border: none;
        width: 100%;
        height: auto;
        color: #fff;
        background-color: #39424b;
        appearance: none;
        border-radius: 0;
        @include font-size(20);
        padding: 20px 0;
        
    }
}



footer{
    
    background-image: url('../images/top/footer/footer_bg.jpg');
    background-repeat: no-repeat;
    background-size: 78% auto;
    background-position: 0 bottom;
    padding: 170px 0 40px;
    
    #footer-nav{
        border-bottom: 1px solid #000;
        width: 94%;
        margin: 35px auto 0;
    } 
    
    .footer_navi{
        text-align: center;
    }
    
    @media (max-width: 549px){
        
        .footer_navi{
            padding: 0;
        }
    }
        
    li{
        display: inline-block;
        margin-right: 32px;
        list-style: none;
        color: #39424B;
    }
        
    a{
        font-family: "游明朝体";
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
        color: #d1d1d1;
    }
 
    
    .sns{
        display: inline-block;
        width: 45px;
        float: right;
        display: flex;
        margin-top: -60px;
    }
    
    .sns img{
        display: inline-block;
        width: 102%;
        height: auto;
    }
    
    .fb-img{
        margin-right: 10px;
    }
    
    #footer-logo{
        border-bottom: 4px solid #000;
        width: 94%;
        margin: 35px auto 0;
    }
    
    #footer-logo .footer-logo-img{
        text-align: center;
        margin-bottom: 20px;
    }
    
    .container{
        text-align: center;
        margin-top: 20px;
        @include font-size(11);
        font-family: 'Alice', serif;
    }
}
